{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=quiznextdb;Username=postgres;Password=password"
  },
  "Cors": {
    "AllowedOrigins": "http://localhost:3000"
  },
  "Jwt": {
    "Key": "LOCAL_DEV_SUPER_SECRET_KEY_123456789"
  }
}
