@import "tailwindcss";

@theme {
  /* Custom Color Palette - Mycket dovare, mjuka färger */
  
  /* Blue - Mycket mjuk blå */
  --color-blue-light: #9aa5b8;
  --color-blue: #7a8799;
  --color-blue-dark: #6a7480;
  --color-blue-border: #b0bac5;
  --color-blue-text: #6a7480;
  
  /* Purple - Mycket mjuk lila */
  --color-purple-light: #b8aec5;
  --color-purple: #9a8fa8;
  --color-purple-dark: #827a8a;
  --color-purple-border: #c5bac5;
  --color-purple-text: #827a8a;
  
  /* Pink - Mycket mjuk rosa */
  --color-pink-light: #d4b8c5;
  --color-pink: #b89fa8;
  --color-pink-dark: #9a878a;
  --color-pink-border: #e0c8d4;
  --color-pink-text: #9a878a;
  
  /* Indigo - Mycket mjuk indigo */
  --color-indigo-light: #a8aec5;
  --color-indigo: #8a8fa8;
  --color-indigo-dark: #747a8a;
  --color-indigo-border: #b8bac5;
  --color-indigo-text: #747a8a;
  
  /* Green - Mycket mjuk grön */
  --color-green-light: #a8c5b8;
  --color-green: #8aa899;
  --color-green-dark: #748a7a;
  --color-green-border: #b8d4c5;
  --color-green-text: #748a7a;
  
  /* Red - Mycket mjuk röd */
  --color-red-light: #d4b8b8;
  --color-red: #b89fa0;
  --color-red-dark: #9a8788;
  --color-red-border: #e0c8c8;
  --color-red-text: #9a8788;
  
  /* Yellow - Mycket mjuk gul */
  --color-yellow-light: #e0d4b8;
  --color-yellow: #c4b89a;
  --color-yellow-dark: #a99a7a;
  --color-yellow-border: #e8dcc8;
  --color-yellow-text: #a99a7a;
  
  /* Orange - Mycket mjuk orange */
  --color-orange-light: #e0c8b8;
  --color-orange: #c4b09a;
  --color-orange-dark: #a9967a;
  --color-orange-border: #e8d4c8;
  --color-orange-text: #a9967a;
  
  /* Emerald - Mycket mjuk smaragdgrön */
  --color-emerald-light: #a8c5b8;
  --color-emerald: #8aa899;
  --color-emerald-dark: #748a80;
  --color-emerald-border: #b8d4c5;
  --color-emerald-text: #748a80;
  
  /* Rose - Mycket mjuk ros */
  --color-rose-light: #d4b8c0;
  --color-rose: #b89fa5;
  --color-rose-dark: #9a878a;
  --color-rose-border: #e0c8d0;
  --color-rose-text: #9a878a;
  
  /* Cyan - Mycket mjuk cyan */
  --color-cyan-light: #a8c5d0;
  --color-cyan: #8aa8b5;
  --color-cyan-dark: #748a96;
  --color-cyan-border: #b8d4e0;
  --color-cyan-text: #748a96;
  
  /* Teal - Mycket mjuk teal */
  --color-teal-light: #a8c5c5;
  --color-teal: #8aa8a8;
  --color-teal-dark: #748a8a;
  --color-teal-border: #b8d4d4;
  --color-teal-text: #748a8a;
  
  /* Gray - Neutrala grå (mycket dovare) */
  --color-gray-50: #f5f5f5;
  --color-gray-100: #e8e8e8;
  --color-gray-200: #d4d4d4;
  --color-gray-300: #b8b8b8;
  --color-gray-400: #9a9a9a;
  --color-gray-500: #7c7c7c;
  --color-gray-600: #5c5c5c;
  --color-gray-700: #444444;
  --color-gray-800: #2d2d2d;
  --color-gray-900: #1a1a1a;
}
