@import "tailwindcss";

@theme {
  /* Custom Color Palette - Mer skarpa och intensiva färger */
  
  /* Blue - Mer intensiv blå */
  --color-blue-light: #6f7fb0;
  --color-blue: #4f5e90;
  --color-blue-dark: #3e4a72;
  --color-blue-border: #8595ba;
  --color-blue-text: #3e4a72;
  
  /* Purple - Mer intensiv lila */
  --color-purple-light: #8a7eb0;
  --color-purple: #6a5f90;
  --color-purple-dark: #564a72;
  --color-purple-border: #9a8eba;
  --color-purple-text: #564a72;
  
  /* Pink - Mer intensiv rosa */
  --color-pink-light: #a890b5;
  --color-pink: #858090;
  --color-pink-dark: #6a5a72;
  --color-pink-border: #b8a0c5;
  --color-pink-text: #6a5a72;
  
  /* Indigo - Mer intensiv indigo */
  --color-indigo-light: #7a7eb0;
  --color-indigo: #5a5f90;
  --color-indigo-dark: #4a4a72;
  --color-indigo-border: #8a95ba;
  --color-indigo-text: #4a4a72;
  
  /* Green - Mer intensiv grön */
  --color-green-light: #7ab08a;
  --color-green: #5a9077;
  --color-green-dark: #4a725a;
  --color-green-border: #8ac09a;
  --color-green-text: #4a725a;
  
  /* Red - Mer intensiv röd */
  --color-red-light: #a89090;
  --color-red: #858080;
  --color-red-dark: #6a5a5a;
  --color-red-border: #b8a0a0;
  --color-red-text: #6a5a5a;
  
  /* Yellow - Mer intensiv gul */
  --color-yellow-light: #b8a880;
  --color-yellow: #95876a;
  --color-yellow-dark: #7a7254;
  --color-yellow-border: #c4b895;
  --color-yellow-text: #7a7254;
  
  /* Orange - Mer intensiv orange */
  --color-orange-light: #b89580;
  --color-orange: #95806a;
  --color-orange-dark: #7a6a54;
  --color-orange-border: #c4a895;
  --color-orange-text: #7a6a54;
  
  /* Emerald - Mer intensiv smaragdgrön */
  --color-emerald-light: #7ab08a;
  --color-emerald: #5a9082;
  --color-emerald-dark: #4a726a;
  --color-emerald-border: #8ac09a;
  --color-emerald-text: #4a726a;
  
  /* Rose - Mer intensiv ros */
  --color-rose-light: #a8909a;
  --color-rose: #858088;
  --color-rose-dark: #6a5a64;
  --color-rose-border: #b8a0a8;
  --color-rose-text: #6a5a64;
  
  /* Cyan - Mer intensiv cyan */
  --color-cyan-light: #7ab0c0;
  --color-cyan: #5a90a3;
  --color-cyan-dark: #4a7282;
  --color-cyan-border: #8ac0d4;
  --color-cyan-text: #4a7282;
  
  /* Teal - Mer intensiv teal */
  --color-teal-light: #7ab0b0;
  --color-teal: #5a9090;
  --color-teal-dark: #4a7272;
  --color-teal-border: #8ac0c0;
  --color-teal-text: #4a7272;
  
  /* Gray - Neutrala grå (mycket dovare) */
  --color-gray-50: #f5f5f5;
  --color-gray-100: #e8e8e8;
  --color-gray-200: #d4d4d4;
  --color-gray-300: #b8b8b8;
  --color-gray-400: #9a9a9a;
  --color-gray-500: #7c7c7c;
  --color-gray-600: #5c5c5c;
  --color-gray-700: #444444;
  --color-gray-800: #2d2d2d;
  --color-gray-900: #1a1a1a;
}
